body {
    /*background-color: lightgrey;*/
    /*padding-top: 30px;*/
}

i.nav-link {
    font-size: 36px !important;
    padding: 1rem !important;
}

.login-container {
    background-color: white;
    text-align: center;
    /*margin-top: 80px;*/
    padding: 10px;
    border-radius: 10px;
}

.logo {
    max-width: 100%;
}

.nav-bar-notification-item {
    position: relative;
}
.nav-bar-notification-item > i {
    position: relative;
    top: 0;
    left: 0;
}

.nav-bar-notification-item > img {
    position: absolute;
    top: 50px;
    left: 12px;
}

.navbar {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}

.nav-link.btn-primary {
    color: white !important;
    /*font-weight: 300;*/
}

.small-text {
    font-size: smaller;
    color: darkgray;
}