body {
    background-color: lightgrey;
    padding-top: 30px;
}

.login-container {
    background-color: white;
    text-align: center;
    /*margin-top: 80px;*/
    padding: 10px;
    border-radius: 10px;
}

.logo {
    max-width: 100%;
}

.small-text {
    font-size: smaller;
    color: darkgray;
}